EVENTCART_MONGO_ROOT_USERNAME=eventcart
EVENTCART_MONGO_ROOT_PASSWORD=eventcart
EVENTCART_KEYCLOAK_ADMIN_PASSWORD=admin
EVENTCART_GRAFANA_ADMIN_USER=admin
EVENTCART_GRAFANA_ADMIN_PASSWORD=admin
EVENTCART_INTERNAL_SERVICE_TOKEN=eventcart-local-internal-token

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

SPRING_MAIL_HOST=
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
